.nav__logo {
    @extend %logo;
    padding: 24px 0;
}

.logo__black {
    color: $blackTextColor;
}

.footer__logo {
    @extend %logo;
    display: inline-block;
    margin-bottom: 20px;
}

.logo__white {
    color: $whiteTextColor;
}